<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>
  <body>
    {% include 'BMS/header.html' %}

    <div class="container">
      <div class="row mb-2 mt-3">
        <a href="/" class="btn btn-primary col-4 col-lg-2 col-md-3 mx-2" data-bs-toggle="modal" data-bs-target="#filter"><i class="bi bi-menu-button"></i> Filter</a>
        <a href="/" class="btn btn-primary col-4 col-lg-2 col-md-3" >Clear Filter</a>
      </div>
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apply Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form method="post" action="{% url 'filter' %}">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="mb-3">
                    <select class="form-select  mb-3" name="price">
                        <option selected="">Price</option>
                        <option value="htol">High To Low Price</option>
                        <option value="ltoh">Low To High Price</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <select class="form-select  mb-3" name="pages">
                        <option selected="">Pages</option>
                        <option value="htol">High To Low Pages</option>
                        <option value="ltoh">Low To High Pages</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <select class="form-select  mb-3" name="tbook">
                        <option selected>Type Of Book</option>
                        <option value="Non-Fiction">Non-Fiction</option>
                        <option value="Edited">Edited</option>
                        <option value="Reference">Reference</option>
                        <option value="Fiction">Fiction</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <select class="form-select  mb-3" name="author">
                        <option selected="">Author</option>
                        <option value="ltoh">A-Z</option>
                        <option value="htol">Z-A</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <button type="submit" class="btn btn-primary" name='filter-btn'>Apply</button>
                    <a href="/" class="btn btn-primary">Clear Filter</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
          <div class="table-responsive">
              <table class="table table-striped table-sm align-middle">
                <thead>
                  <tr>
                    <th scope="col">Book Image</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Pages</th>
                    <th scope="col">Type Of Book</th>
                    {% if user.is_authenticated %}
                    {% if acess_perm.update_permission %}
                    <th scope="col">Edit</th>
                    {% endif %}
                    {% if acess_perm %}
                    <th scope="col">Delete</th>
                    {% endif %}
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% for d in allData %}
                  <tr>
                    <td><img src="{{d.images.url}}" alt="" style="width:4.5rem;"></td>
                    <td>{{d.book}}</td>
                    <td>{{d.author}}</td>
                    <td>{{d.price}}</td>
                    <td>{{d.pages}}</td>
                    <td>{{d.tbook}}</td>
                    {% if user.is_authenticated %}
                    {% if acess_perm.update_permission %}
                    <td>
                    <a href="/edit/{{d.id}}" class="btn"><i class="bi bi-pen-fill"></i></a>
                    </td>
                    {% endif %}
                    {% if acess_perm.delete_permission %}
                    <td>
                    <a href="/delete/{{d.id}}" class="btn"><i class="bi bi-trash-fill"></i></a>
                    </td>
                    {% endif %}
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  </body>
</html>
