{% load static %}
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'images/logoBook.png' %}" class="bi me-2" width="45" height="45"></img>
          <span class="fs-4">Library Books</span>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% if user.is_authenticated %}
          {% if acess_perm.add_permission %}
          <li><a href="/add" class="nav-link px-2 link-secondary"><i class="bi bi-file-earmark-plus"></i> Add New Book</a></li>
          {% endif %}
          {% endif %}
        </ul>
        <form method="post" action="{% url 'search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          {% csrf_token %}
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search" name="search-btn">
        </form>

        <div class="text-end">
          {% if user.is_authenticated %}
            <div class="dropdown col-5 col-lg-2 col-md-3">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i> {{user}}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href='/user_profile/{{user.id}}'>Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'saved_book' %}">Saved Book</a></li>
                {% if user.is_superuser %}
                <li><a href="{% url 'all_user' %}" class="dropdown-item">Active-User</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
            <a href="{% url 'register_user' %}" class="btn btn-warning">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
